.about-section{
    height: 100vh;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* left section introduction */
.introduction{
    flex: 1;
    
}
/* right img section */
.my-img{
   
}
.my-img-right-sec{
    flex: 1;
    height: 280px;
    width: 240px;
    border-radius: 150px;
    border:  1px solid #131f39;
}
.devider {
  /* flex: 1; */
  border: none;
  border-top: 2px solid #e0e0e0;
  margin-left: 20px;
}