.card-wrapper {
  max-width: 60vw;
  width: 100%;
}
.custom-card {
  display: flex;
  border: 1px solid #ffffff25;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  background-color: #1b294a !important;
  height: 400px;
}

/* left section info */
.card-container{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.info-div-left{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: left;
}



/* right sec img */

.img-card-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.card-img {
  height: 100%;
  object-fit: cover;
  border-left: 1px solid #444;
  border-radius: 10px !important;
}

.vertical-divider {
  width: 1px;
  background-color: #444;
}
.arrow-container{
  display: flex;
  justify-content: space-between;
}
.arrow-button {
  background: transparent;
  color: white;
  border: none;
  font-size: 3rem;
  z-index: 2;
  cursor: pointer;
  transition: color 0.3s;
}

.arrow-button:hover {
  color: #198754; /* optional hover color */
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

